/*
*{
border : thin black solid;	
} */



body
{
	margin : 0px;	
}







#menu
{
	padding-bottom : 61px; /* placement du trait bas de la barre d'onglet */
	border-bottom : 1px solid; /* trait bas de la barre d'onglet*/
}

#onglets
{
	font-size : 45px; /* taille nom onglet*/
	list-style-type : none; /* enlève les puces de la liste */ 
	margin-right : 5px; /*distance des onglets du bord droit de l'écran */ 
}

#onglets li
{
    float : right; /* placement à droite des onglets */
    height : 50px; /* hauteur des onglets */
    background-color: #e0e7e3ff;
    border : 1px solid #b7c8c4;
	border-bottom : black;
	border-top-left-radius : 25px;
	border-top-right-radius : 25px;
	padding : 5px;
}

#onglets li.active
{
    border-bottom: 1px solid #b7c8c4;
    background-color: #fff;
}

#onglets li:hover 
{
	background-color : #fff; /* couleur de fond quand on passe la souris sur un onglet */
}

#onglets a
{
    display : block;
	color : #262e29ff;
    text-decoration : none;
	padding : 4px;
}

#onglets li.titre 
{
	font-size : 55px;
	float : left;
	background-color : #b7c8c4;
	border-bottom : #b7c8c4;
	border-color : #b7c8c4;
}












#MAP
{
	background: url("../images/map.svg");
	background-repeat : no-repeat;
	background-position : top center;
}

#BODY_FondUni
{
	background:  url("../images/uni.svg");
}






 
#BarreDeRecherche1{
    margin-left:auto;
	margin-right:auto;
	margin-top:300px;
	width : 450px;
	
}

.Champs{
	padding-left:20px;
    width: 350px;
    background-color: white;
    color: grey;
	border-radius : 200px;
	height: 35px;
	border:none;

		

}
.bouton{
    background-image: url(../images/Loupe.png);
	background-size: 50px 30px;
	background-repeat: no-repeat;
	width: 50px;
	height : 30px;
	border-radius : 200px;
	opacity : 0.8;
	border: none;

}
  
  
  

#BarreDeRecherche2{
    margin-left:auto;
	margin-right:auto;
	margin-top:20px;
	width : 450px;
}


#NomPays{
	margin-top:5px;
text-decoration:underline;
text-align:center;
font-size:50px;
}

#Drapeau{
	max-width:550px;
	margin-left : auto;
	display : block;
	
}

#Tableau {
	width:1200px;
	margin-left:auto;
	margin-right:auto;
	
}

th, td {
	font-size:15px;
	text-align:center;
	width : 150px;
	border : thin black solid;
}



.button {
  display: inline-block;
  border-radius: 10px;
  background-color: Floral white ;
  border: solid 1px black;
  color: black;
  text-align: center;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left:8px;
  padding-right: 8px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}





.Vert1{
			background-color : green;
		}
		
		.Vert2{
			background-color : limegreen;
		}
		
		.VertJaune{
			background-color : greenyellow;
		}
		
		.Jaune{
			background-color : yellow
		}
		
		.JauneFonce{
			background-color : #ffd700;
		}
		
		.Orange{
			background-color : orange;
		}
			
		.Rouge{
			background-color : red;
		}
		
		.RougeBrique{
			background-color : firebrick;
		}
		
		.RougeNoir{
			background-color : darkred;
		}
		
		.Vide{
			background-color : grey;
		}
		
		
	

.bouton2{
    background-color: #e0e7e3ff;
	background-size: 70px 30px;
	background-repeat: no-repeat;
	width: 70px;
	height : 30px;
	border-radius : 200px;
	opacity : 0.8;
	border: none;
	margin-left:5px;
	
}



 #ChoixCla{
	 
width : 1000px;
margin-right : auto;
margin-left : auto;
	 
 } 

		
.Gras{
	
	font-weight : bold;
}
	
		
	.ConTab{
		width : fit-content;
		margin-right:auto;
		margin-left:auto;
	}






#carrousel {
    width: 800px; 
    height: 105px; 
    overflow: hidden; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10%;
    border: solid 3px #b7c8c4;
    box-shadow: 0 0 15px #444;
    position:relative;
    background-color: #f5f5f5;
    opacity: 0.8;
}

#anecdotes {
    width: 800px; 
    height: 105px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 5px;
    margin-bottom: auto;
}
.anecdote{
    margin: 0%;
    text-align: center;
    top: 100px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: large;
    color: #444;
}



.centre{
  text-align: center;
}

#rectangle {
  border: 3px solid #37483eb0;
  width : 600px;
  background-color : #ffffffb0;
  margin-left : auto;
  margin-right : auto;
  margin-top : 100px;
  padding: 10px;
  border-top-left-radius : 15px;
  border-top-right-radius : 15px;
  border-bottom-left-radius : 15px;
  border-bottom-right-radius : 15px;
}

.Graph {
     -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
     -ms-transition: all 0.2s;
     -o-transition: all 0.2s;
     transition: all 0.2s;
	  display: block; margin-left: auto; margin-right: auto ;
}
.Graph:hover {
     transform:scale(1.2);
}


#année {
	margin-left:10px;
}











  






























/* A CITER!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */


.custom-dropdown--large {
    font-size: 1.5em;
}

.custom-dropdown--small {
    font-size: .7em;
}

.custom-dropdown__select{
    font-size: inherit; /* inherit size from .custom-dropdown */
    padding: .5em; /* add some space*/
    margin: 0; /* remove default margins */
}

.custom-dropdown__select--white {
    background-color: #fff;
    color: #444;    
}

@supports (pointer-events: none) and
      ((-webkit-appearance: none) or
      (-moz-appearance: none) or
      (appearance: none)) {

    .custom-dropdown {
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }

    .custom-dropdown__select {
        padding-right: 2.5em; /* accommodate with the pseudo elements for the dropdown arrow */
        border: 0;
        border-radius: 3px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;    
    }

    .custom-dropdown::before,
    .custom-dropdown::after {
        content: "";
        position: absolute;
        pointer-events: none;
    }

    .custom-dropdown::after { /*  Custom dropdown arrow */
        content: "\25BC";
        height: 1em;
        font-size: .625em;
        line-height: 1;
        right: 1.2em;
        top: 50%; margin-top: -.5em;
    }

    .custom-dropdown::before { /*  Custom dropdown arrow cover */
        width: 2em;
        right: 0; top: 0; bottom: 0;
        border-radius: 0 3px 3px 0;
    }

    .custom-dropdown__select[disabled] {
        color: rgba(0,0,0,.3);
    }

    .custom-dropdown.custom-dropdown--disabled::after {
        color: rgba(0,0,0,.1);
    }

    /* White dropdown style */
    .custom-dropdown--white::before {
        top: .5em; bottom: .5em;
        background-color: #fff;
        border-left: 1px solid rgba(0,0,0,.1);
    }

    .custom-dropdown--white::after {
        color: rgba(0,0,0,.9);
    }

    /* FF only temp fix */
    @-moz-document url-prefix() {
        .custom-dropdown__select              { padding-right: .9em }
        .custom-dropdown--large .custom-dropdown__select { padding-right: 1.3em }
        .custom-dropdown--small .custom-dropdown__select { padding-right: .5em }
    }
}



.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
}
.dropdown:hover .dropdown-content {
  display: block;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */







/* UTILE?????????
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
*/





/*Bouton ? Kanto */

.styled {
    display:block;
    width:40px;
    height:40px;
    line-height:auto;
    border: 2px solid #f5f5f5;
    border-radius: 50%;
    color:#f5f5f5;
    text-align:center;
    text-decoration:none;
    background: #e5c500ff;
    box-shadow: 0 0 3px gray;
    font-size:20px;
    font-weight:bold;

}
.styled:hover {
    background: #777555;
}

/*.....................*/

/*

TEST Bulle info
		
	
.bulle { 
position:relative;
color:#C800F0;
text-decoration:none;
font-family:arial, verdana, sans-serif;
text-align:center;
}

.bulle:hover {
background: none;
z-index: 50;
}

.bulle span {
display: none;
}

.bulle:hover span {
display: block;
position: absolute;
top: -40px; 
left: 0px; 
font-family:arial, verdana, sans-serif;
text-align:left;
font-size:17px;
color:#0CBFA7;
font-weight:normal;
width:200px;
background: white;
padding: 5px;
border: #62c0f4 solid 1px ;
text-indent: 0;
}	

*/